/* ============== NAV =========== */
/*phone layout*/
.navBar {
  width: 100%;
  background: linear-gradient(45deg, #1d3549, #2b506e);
  color: white;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}

.dropDown i {
  font-size: 24px;
  padding: 15px 30px 15px;
}

.dropBtn {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropDownContent {
  display: none;
  position: absolute;
  margin-right: 10px;
  background-color: #333333;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropDownContent a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropDownContent a:hover {
  color: steelblue;
}

.dropDown:hover .dropDownContent {
  display: block;
}

/*desktop layout*/
@media only screen and (min-width:768px){
.dropDown i {
  display:none;
}

.dropDownContent {
  padding-right: 30px;
  position: relative;
  display: block;
  background-color: transparent;
  box-shadow: none;
}

.dropDownContent a {
  display: inline;
}

}
